@mixin display {
  height: calc(100vh - 60px);
  width: 100%;
  background-color: white;
  overflow: scroll;
}

@mixin header-css {
  height: 40px;
  line-height: 40px;
  width: 100vw;
  color: white;
  background: image-url("header.png");
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  top: 0;
  z-index: 10;
}

@mixin user-form {
  height: 20px;
  width: 30%;
  padding: 5px;
}

@mixin signup-btn {
  height: 30px;
  width: 30%;
  margin: 15px 0 0;
  background-color: white;
  border: solid black 1px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@keyframes bg-slider {
	from { background-position: 0 0; }
    to { background-position: -1518px 0; }
}