<%= render partial: "layouts/header" %>

<section class="user">
  <section class="user-show">
    <div class="user-show__title">
      <h1 class="user-show__title__top">プロフィール画面<h1>
    </div>
    <%= render partial: "user-profile", local: {user: @user} %>
  </section>

  <section class="user-index">
    <div class="user-index-field">
      <% if current_user == @user %>
        <%= render partial: "user-public-contributions", local: {contributions: @contributions} %>
      <% else %>
        <%= render partial: "user-non-public-contributions", local: {contributions: @contributions} %>
      <% end %>
    </div>
  </section>


</section>