<section class="index">
  <div class="index-field">
    <% @contributions.each do |contribution| %>
      <div class="index-field__box">
        <%= link_to "/contributions/#{contribution.id}" do %>
          <% if contribution.image.present? %>
            <div class="index-field__box__image" style="background-image: url(<%= contribution.image %>);">
          <% else %>
            <div class="index-field__box__image">
          <% end %>
            <h1 class="index-field"><%= contribution.title %></h1>
            <ul>
              <li><i class="far fa-heart"></i>：●●</li>
              <li>コメント：●●件</li>
            </ul>
          </div>
        <% end %>
      </div>
    <%end%>
</section>




