<section class="index">
  <% @contributions.each do |contribution| %>
    <div class="index__box">
      <%= link_to "/contributions/#{contribution.id}" do %>
        <div class="index__box__image">
          <%= image_tag contribution.image.url %>
        </div>
        <div class="index__box__description">
          <%= contribution.title %>
        </div>
        </ul>
      <% end %>
    </div>
  <%end%>
</section>