<section class="top-page">
  <div class="welcome">
    <h1 class="welcome__title">Welcome to my site！！</h1>
    <p class="welcome__message">
      このサイトはTECK EXPERTで学んだ経験を元に作成した就職活動用のポートフォリオとなります。
      知識のアウトプット、ブログ、趣味の発信などを目的としたBlogサイトとなります。
      ユーザー登録を完了しないと扱えないページもあるため、当サイトを閲覧される企業様は別途お伝えしますTESTユーザーをご利用下さい。
      下記の3つのボタンより当サイトへアクセスを宜しくお願い致します。
    </p>
    <ul class="welcome__link">
      <%= link_to contributions_path, class: :"welcome__link__first" do %>
        <li><i class="fas fa-blog icon"></i>enter</li>
      <% end %>
      <%= link_to new_user_session_path, class: :"welcome__link__second" do %>
        <li><i class="fas fa-rocket icon"></i>log in</li>
      <% end %>
      <%= link_to "/signup/signup_1", class: :"welcome__link__third" do %>
        <li class="third-icon"><i class="fas fa-id-card icon"></i>sign up</li>
      <% end %>
    </ul>
  </div>
</section>