.new-edit {
  @include display;
  text-align: center;
  &__title {
    font-size: 24px;
    font-weight: 700;
    padding: 20px 0;
  }
  &__form {
    .contribution-form {
      display: block;
      &__field {
        margin: 20px 0;
        label:hover {
          cursor: pointer;
          font-weight: 700;
        }
        label {
          font-size: 18px;
          .picture-icon {
            margin-top: 10px;
            font-size: 50px;
          }
        }
        #contribution_genre_id {
          font-size: 18px;
          height: 30px;
          width: auto;
          color: #333;
          margin-top: 10px;
        }
        #contribution_genre_id:hover {
          font-weight: 500;
          border: 2px #998bfa solid;
          border-radius: 5px;
        }
        #contribution_title {
          font-size: 20px;
          height: 30px;
          width: 50%;
          margin-top: 10px;
        }
        #contribution_title:hover {
          border: 2px #998bfa solid;
          border-radius: 5px;
        }
        #contribution_image {
          display: none;
        }
        #contribution_text {
          resize: none;
          font-size: 20px;
          height: 100px;
          width: 50%;
          margin-top: 10px;
        }
        #contribution_text:hover {
          border: 2px #998bfa solid;
          border-radius: 5px;
        }
        #new-edit-btn {
          display: block;
          line-height: 50px;
          width: 50%;
          font-size: 20px;
          margin: 0 auto;
          color: white!important;
          background-color: #4d81e4;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-transition: all .5s;
          transition: all .5s;
        }
        #new-edit-btn:hover {
          cursor: pointer;
          background-color: transparent;
          border: 2px solid #998bfa;
          color: #998bfa!important;
        }
      }
    }
  }
}

.image-preview {
  height: 200px;
  width: 220px;
}
@media screen and ( max-width:479px ) {
  .image-preview {
    height: 200px;
    width: 50%;
  }
}