.show {
  @include display;
  padding: 20px 0;
  background-color: #f5f5f5;
  .show-contribution {
    height: 400px;
    width: 70%;
    min-width: 50%;
    margin: 0 auto 20px;
    background-size: cover;
    border: solid 1px rgb(238, 185, 185);
    border-radius: 5px;
    overflow: scroll;
    &__box {
      @include display;
      &__title {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        padding: 10px 0 0;
        background-color: rgba(255,255,255,0.7);
      }
      &__text {
        font-size: 18px;
        padding: 0 10px 10px;
        background-color: rgba(255,255,255,0.7);
      }
    }
  }
  .show-comment {
    width: 70%;
    min-width: 50%;
    margin: 0 auto;
    &__form {
      width: 70%;
      min-width: 50%;
      margin: 0 auto;
      &__with {
        width: 100%;
        #contribution_text {
        
        height: 100px;
        }
        #comment-btn {
          display: block;
        }
      }
    }
  }
}