.top-page {
  @include display;
  height: 100vh;
  background: image-url("top_page.jpg");
  background-size: cover;
  text-align: center;
  .welcome {
    padding: 20px 0;
    &__title {
      font-weight: 700;
      font-size: 24px;
      letter-spacing: 1px;
    }
    &__message {
      width: 70%;
      font-weight: 600;
      font-size: 16px;
      margin: 20px auto;
    }
    &__link {
      a:first-child {
        display: block;
        margin: 10px auto;
      }
      a {
        border: 2px solid #2f89c5;
        background-color: white;
        height: 40px;
        line-height: 40px;
        width: 130px;
        font-size: 20px;
        text-decoration: none;
        text-align: center;
        margin: 20px;
        display: inline-block;
        li {
          color: #1d97e9;
          .icon {
            margin-right: 10px;
          }
        }
      }
    }
  }
}