//ユーザー登録ページ
.signup-1, .signup-2 {
  @include display;
  text-align: center;
  &__title {
    padding: 20px 0 0;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 15px;
  }
  .signup-1-form, .signup-2-form {
    display: block;
    font-size: 16px;
    &__field {
      margin: 10px 0;
      &__title {
        margin-bottom: 5px;
      }
      #user_nickname, #user_email, #user_password, #user_password_confirmation {
        @include user-form;
      }
      #user_profiles_gender, #user_profiles_sports, #user_profiles_study_fields {
        @include user-form;
      }
    }
    #signup-1-btn, #signup-2-btn {
      font-size: 20px;
      height: 30px;
      width: 50%;
      font-size: 16px;
      display: block;
      margin: 30px auto 0;
      border: violet solid;
      border-radius: 5px;
      background-color: violet;
    }
    #signup-2-btn {
      background-color: springgreen;
      border: springgreen solid;
    }
  }
}

.done {
  @include display;
  background: url("roop.jpg") repeat-x;
  background-size: cover;
  animation: bg-slider 20s linear infinite;
  text-align: center;
  display: block;
  &__finish {
    font-size: 20px;
    padding: 20px 0 0px;
    &__registration {
      margin: 50px 0;
    }
    &__circle {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      &__link {
        height: 100px;
        width: 100px;
        min-width: 7%;
        color: white;
        text-decoration: none;
        margin: 20px;
        padding: 70px;
        background-color: blue;
        border-radius: 50%;
        &__list {
          &__title {
            font-size: 18px;
            margin-bottom: 5px;
          }
          &__icon {
            font-size: 70px;
            color: white;
          }
        }
      }
    }
  }
}

//スマートフォン設定
@media screen and ( max-width:479px ) {
  .done {
    @include display;
    background: url("roop.jpg") repeat-x;
    background-size: cover;
    animation: bg-slider 20s linear infinite;
    text-align: center;
    display: block;
    overflow: scroll;
    &__finish {
      font-size: 20px;
      padding: 10px 0 0px;
      &__registration {
        margin: 10px 0;
      }
      &__circle {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        &__link {
          height: 100px;
          width: 100px;
          min-width: 7%;
          color: blue;
          text-decoration: none;
          margin: 20px auto;
          padding: 30px;
          background-color: white;
          border: 3px solid blue;
          border-radius: 50%;
          &__list {
            &__title {
              font-size: 16px;
              margin-bottom: 5px;
            }
            &__icon {
              font-size: 50px;
              color: blue;
            }
          }
        }
      }
    }
  }
}


//ログインページ
.log-in {
  @include display;
  background-color: #f5f5f5;
  text-align: center;
  &__title {
    font-size: 20px;
    font-weight: 700;
    padding: 20px 0 0;
  }
  .new_user {
    margin: 20px 0 0;
    .log-in-field {
      display: block;
      .label {
        .log-in-title {
          font-size: 20px;
          margin-bottom: 15px;
        }
      }
    }
  }
}