.user {
  @include display;
  .user-show {
    text-align: center;
    &__title {
      font-size: 22px;
      margin: 20px 0 15px;
      &__top {
        font-weight: 700;
      }
    }
    .profile-edit {
      &__form {
        &__field {
          margin: 10px 0;
          label {
            font-size: 16px;
            #user_nickname, #user_email, #user_profiles_gender, #user_profiles_study_fields, #user_profiles_sports {
              height: 30px;
              width: 35%;
              border-radius: 5px;
              margin-top: 5px;
            }
          }
        }
        #user-btn {
          height: 35px;
          line-height: 35px;
          width: 35%;
          border-radius: 5px;
          color: white;
          border: white dashed 2px;
          background-color: rgb(255, 143, 252);
          margin: 25px auto;
          display: block;
          box-shadow: 0 0 0 1px rgb(255, 143, 252);
          transition:all .3s ease;
        }
        #user-btn:hover {
          border-style: solid;
          box-shadow: 0 0 0 3px rgb(255, 143, 252);
        }
      }
    }
  }

  .other-profile {
    margin-bottom: 10px;
    &__head {
      font-size: 16px;
    }
    &__detail {
      font-size: 18px;
      transition:all .3s ease;
    }
    &__detail:hover {
      font-weight: 700px;
      color: rgb(59, 207, 59);
      font-size: 20px;
    }
  }

  .user-index {
    margin: 20px 0 0;
    .user-index-field {
      width: 70%;
      margin: 0 auto;
      &__box {
        text-decoration: none;
        &__image {
          height: 400px;
          background-size: cover;
          background-position: center center;
          border-radius: 5px;
          width: 100%;
          margin: 20px 0;
          display: block;
          position: relative;
          text-decoration: none;
          .user-index-title {
            color: blue;
            font-size: 20px;
            height: 30px;
            line-height: 30px;
            width: 40%;
            position: absolute;
            top: 15px;
            left: 15px;
            &__text {
              font-weight: 700;
              text-align: center;
              background-color: rgba(255,255,255,0.8);
              border: rgb(62, 62, 250)  1px solid;
              border-radius: 15px;
              overflow-y: scroll;
              padding: 0 10px;
            }
          }
          .user-index-review {
            color: rgb(235, 153, 2);
            font-size: 14px;
            height: 30px;
            line-height: 30px;
            position: absolute;
            bottom: 15px;
            right: 15px;
            display: flex;
            &__list {
              text-align: center;
              background-color: rgba(255,255,255,0.8);
              border: orange  1px solid;
              border-radius: 15px;
              padding: 0 10px;
            }
            &__list:first-child {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}